.wrapper {
  margin: 50px 45px;
  .title {
    background-color: #3b3b3b;
    color: #cfcfcf;
    padding: 5px 10px;
    border-radius: 5px;
    margin: 0 auto;
    width: 250px;
    text-align: center;
    font-size: 26px;
    margin-bottom: 15px;
    opacity: 0.9;
    @media (max-width: 600px) {
      font-size: 20px;
      width: 200px;
    }
    @media (max-width: 470px) {
      width: 170px;
      font-size: 16px;
    }
  }
  
}